.popup {
  max-width: 478.28px;
  position: fixed;
  top: 17%;
  left: 41%;
  display: none;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .popup {
    max-width: 478.28px;
    position: fixed;
    top: 17%;
    left: 22%;
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .popup {
    max-width: 282px;
    position: fixed;
    left: 19px;
    display: none;
  }
}


