.user__description {
  max-width: 415px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0 0 21px 0;
  grid-area: description;
}

@media screen and (max-width: 768px) {
  .user__description {
    max-width: 415px;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 21px 0;
    grid-area: description;
  }
}

@media screen and (max-width: 320px) {
  .user__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    margin: 16px 0;
  }
}
