/*header section*/

/*content section*/

/*user section*/

/*popup section*/

/* cards section*/

.cards__item {
  max-width: 282px;
  margin: 0;
  border-radius: 10px;
  background-color: #ffffff;
}

.cards__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.cards__like_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 246px;
  margin: auto;
}

.cards__title {
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  max-width: 246px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.like__button {
  max-width: 21px;
}

.like__button:hover {
  background-color: #000000;
  opacity: 0.7;
  position: relative;
  cursor: pointer;
}

.footer__author {
  margin: 68px 0 60px 0;
  max-width: 318px;
  color: #545454;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }

  .content {
    margin: 40px auto;
    max-width: 564px;
  }

  .user {
    display: grid;
    grid-template-columns: 160px 310px 90px;
    grid-template-rows: 100px 50px;
    grid-template-areas:
      "picture name edit"
      "picture description adicionar";
  }

  .user__picture {
    max-width: 148.75px;
  }

  .user__name {
    max-width: 310px;
    font-size: 35px;
    font-weight: normal;
    line-height: 48px;
    grid-area: name;
  }

  .user__description {
    max-width: 415px;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 21px 0;
    grid-area: description;
  }

  .user__edit {
    max-width: 10px;
    margin: 37px 0 0 5px;
  }

  .user__link-edit {
    max-width: 10px;
  }

  .popup {
    display: grid;
    max-width: 478.28px;
    position: fixed;
    top: 119px;
    left: 22%;
    grid-template-areas:
      ".close"
      "form.";
    display: none;
  }

  .user__add_images {
    border: 2px solid #ffffff;
    max-width: 80px;
    padding: 14px 34px 14px 34px;
    margin: 0 0 0 15px;
  }

  .cards {
    max-width: 564px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }

  .logo {
    max-width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .content {
    margin: 42px auto;
    max-width: 282px;
  }

  /*user section*/

  .user {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 160px 2px 24px 80px;
    justify-items: center;
    grid-template-areas:
      "picture"
      "name"
      "edit"
      "description"
      "add";
  }

  .user__name {
    max-width: 196px;
    font-size: 22px;
    margin: 0 0 0 -20px;
    line-height: 27px;
  }

  .user__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    margin: 16px 0;
  }

  .user__edit {
    border: 1px solid #ffffff;
    max-width: 7.5px;
    padding: 5.25px;
    margin: 0 0 0 97px;
    right: 5px;
    grid-area: edit;
  }

  .user__link-edit {
    max-width: 7.5px;
  }

  .user__add_images {
    border: 2px solid #ffffff;
    max-width: 282px;
    padding: 17px 133px 17px 133px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin: 0;
    box-sizing: border-box;
    grid-area: adicionar;
  }

  .popup {
    display: grid;
    max-width: 282px;
    position: fixed;
    left: 19px;
    grid-template-areas:
      "close"
      "form";
    /*display: none;*/
  }
  .popup__closed_button {
    max-width: 26px;
    justify-self: end;
  }
  .form {
    max-width: 282px;
    margin: 13.62px 0 0 0;
  }
  .form__title {
    max-width: 238px;
    margin: 34px 64px 0 36px;
    font-size: 18px;
    line-height: 22px;
  }

  .form__edit {
    max-width: 238px;
  }

  .form__write_camp {
    min-width: 150px;
  }

  .form__save_button {
    margin: 46px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    width: 225px;
    height: 46px;
    padding: auto;
  }

  .cards {
    max-width: 880px;
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
}
