.header {
  margin: 45px auto 0;
  border-bottom: solid #545454;
  max-width: 880px;
  height: 74px;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 564px;
    margin: 45px auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 28px auto 0;
    max-width: 320px;
    height: 56px;
  }
}
