.root {
  background-color: #000000;
}

.page {
  max-width: 1280px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: auto;
  position: relative;
}

.content {
  margin: 40px auto;
  max-width: 880px;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }

  .content {
    margin: 40px auto;
    max-width: 564px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
  .content {
    margin: 42px auto;
    max-width: 282px;
  }
}
